* {
    padding: 0;
    margin: 0;
    background-color: white;
}

p {
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: justify;
    text-justify: inter-word;
    color: green;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}